.Counter1 {

    text-align: center;
    margin: auto;
    width: 550px;
}

.Counter1 div {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    color: white;
    background: #101010; 
    padding: 12px;
}